<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bms.mqp.behaviormodelsystem">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
        <receiver
            android:name=".BootReceiver"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".SchedulingService" />
        <service
            android:name=".AppUsageEventsService"
            android:exported="false" />
        <service
            android:name=".TiltService"
            android:exported="false" />
        <service
            android:name=".WifiService"
            android:exported="false" />
        <service
            android:name=".LocationService"
            android:exported="false" />
        <service
            android:name=".AppUsageStatisticsService"
            android:exported="false" />
        <service
            android:name=".AuthenticationService"
            android:exported="false" />
        <service android:name=".DriveService" />

        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyBg6skdZeSjbBP1Q-8rr-olpAM4k2pWnws" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBg6skdZeSjbBP1Q-8rr-olpAM4k2pWnws" />

        <meta-data
            android:name="com.google.android.apps.drive.APP_KEY"
            android:value="AIzaSyAiv9TY693dlHazImW0h89s31S1E6ATDwI" />
        <meta-data
            android:name="com.google.android.gms:play-services-auth:9.6.1"
            android:value="AIzaSyAiv9TY693dlHazImW0h89s31S1E6ATDwI" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bms.mqp.behaviormodelsystem.MainActivity" />
        </activity>
        <activity
            android:name=".ResolverActivity"
            android:label="ResolverActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>